@tailwind base;
@tailwind components;
@tailwind utilities;

/* From Public Directory */
@font-face {
  font-family: "Avocalipss";
  src: url("../../public/assets/Avocalipss-Regular.ttf");
  font-style: normal;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 9, 18, 53;
  --background-end-rgb: 9, 18, 53;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height:100vh;
  width: 100vw;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
